body{
  background-color: black;  
}

.btns-container {
    position: relative;
    left: 600pt;
    top: 150pt
}


.btnsStyle {
    background-color:slategrey;
    border: 200px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
    border: solid;
    border-radius: 50px;
    border-style: groove; 
    border-color: olive;
    box-sizing: content-box;
}
