body{
  background-color: black;  
}

.logo{
    max-width: 20%;
    position:absolute;
    left: 500pt;
    
}

.btns-container {
    position: absolute;
    left: 400pt;
    top: 400pt
}


.btnsStyle {
    font-family: OCR A Std, monospace;
    background-color:seagreen;
    border: 200px;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;  
    border: solid;
    border-radius: 50px;
    border-style: groove; 
    border-color: yellow;
  
}

.btnsStyle:hover{
    color: yellow;
   background-color: red; 

} 
 
