body{
  background-color: black;  
}

.logo{
    max-width: 20%;
    position:absolute;
    left: 500pt;
    
 }

 /* #charactersLogo{
    max-width: 10%;
    height: auto;
    position: relative;
}  */

    .rules{
    position: relative;
    left: 1150pt;
    bottom: 250pt;
} 

.restartStyle {
    font-family: 'Redkost Comic', sans-serif;
    background-color:rgb(75, 161, 177);
    border: 200px;
    padding: 25px;
    text-align: center;
    text-decoration: none; 
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;  
    border: solid;
    border-radius: 50px;
    border-style: groove; 
    border-color: yellow;
    position: relative;
    bottom: 230pt;
    left: 12pt;
}

#stats{
font-family: 'Redkost Comic', sans-serif;                                                                                   
font-size: x-large;                                               
color: coral;
}

.playerStyle{
position: relative;
left: 180pt;
top: 150pt;
}

.cpuStyle{
    position: relative;
    left: 850pt;
    top: 70pt;
    }

    .resultStyle{
        position: relative;
        left: 510pt;
        top: 200pt
        }
.btns-container {
    position: absolute;
    left: 400pt;
    top: 500pt
}


.btnsStyle {
    font-family: 'Redkost Comic', sans-serif;
    background-color:rgb(75, 161, 177);
    border: 200px;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;  
    border: solid;
    border-radius: 50px;
    border-style: groove; 
    border-color: yellow;
  
}

.btnsStyle:hover{
   background-color: rgb(5, 238, 63); 
} 

.restartStyle:hover{
    background-color: rgb(5, 238, 63); 
 } 
  
 
 
 /* Create A modal */